[tools]
node = "lts"
python = "3.12"
go = "latest"
rust = "latest"
neovim = "latest"
terraform = "latest"
awscli = "latest"
eza = "latest"
fzf = "latest"
bat = "latest"
zoxide = "latest"
jq = "latest"
direnv = "latest"
ncdu = "latest"
ansible = "latest"
ansible-lint = "latest"

[settings]
experimental = true